@import './base.module.scss';

.main {
    @include center;
    margin-top: 10rem;
}

.container {
    // @include container;
    @include flex-column;
    align-items: center;
    border: 5px solid whitesmoke;
    width: 30%;
    border-radius: 8px;
    background-color: $box-color;

    button {
        padding: 8px 16px;
        margin-bottom: 30px;
        background-color: rgb(204, 211, 214);
        border-radius: 5px;
        cursor: pointer;
    }

    .containerList{
        // border: 1px solid green;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 450px) {
    .main {
        margin-top: 5rem
    }

    .container {
        width: 90%;
    }
}